<% include ./partials/header %>
        <title>App Intro</title>
        <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <style>
            html {
                height: 100%;
            }
            
            body{
                background-image: url('http://www.omarimc.com/wp-content/uploads/2017/09/Open-piano-istock-easybuy4u-20170331_0.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                color: white;
            }
            
            #content {
                text-align: center;
                padding-top: 25%;
                text-shadow: 0px 4px 13px rgba(0,0,0,0.4),
                             0px 8px 13px rgba(0,0,0,0.2),
                             0px 18px 23px rgba(0,0,0,0.1);
            }
            
            h1 {
                font-weight: 700;
                size: 5em;
            }
            
            hr {
                width: 400px;
                border-top: 1px solid #f8f8f8;
                border-bottom: 1px solid rgba(0,0,0,0.2);
            }
        </style>
    </head>
    <div class='container'>
    <div class='row'>
        <div id='content'>
            <h1> Piano Database </h1>
            <h3> For Managamement Only </h3>
            <hr>
            <button class='btn btn-default btn-lg'> <a href="/insertpiano"> View Contents </a> </button>
        </div>
    </div>
</div>
</html>